.login-radius{
    border-radius: 0px 100px 0px 100px;
}
.order{
    background: #FFFFFF;
box-shadow: 0px 2.43109px 12.1555px rgba(0, 0, 0, 0.15);
border-radius: 9.72438px;
}
.table-width{
    width: 2000px;
}
.w-400{
    width: 400px;
}
.table-caption{
    display: table-caption;
}
.table-width-1{
    width: 1500px;
}

.login-bg{
    background: #757F9A !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.btn-color{
    background: #1F1C2C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}